!!!
html
  head
    meta http-equiv="X-FRAME-Options" content="SameOrigin"
    title Node.js Chat Server
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/responsivevoice.js')
    script(src='/socket.io/socket.io.js')
    script
      var socket = io.connect();
      jQuery(function ($) {
        var users = $('.users');
        var success = $('#success');
        var fail = $('#fail');
        var usersList = $('.users ul');
        var messages = $('.messages');
        var audio = $('#audio');
        var nickname = $('#nickname');
        var messageForm = $('.message-box form');
        var message = $('.message');
        var wrapper = $('.wrapper');
        var repeat;
        var silent;
        var login = $('.login');
        var setNicknameForm = $('.login form');
        var showButton = $('.show');
        var number, lastNumber;
        var dd;
        var mm;
        var yy;
        var wasDate = false;
        var months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
        var letters = ['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
        var random;
        var randomLetter;
        var messageSend = {};

        for (var i = 1; i < 100; i++) {
            setTimeout(function(x) {
              return function() {
                random = Math.floor(Math.random() * (1 - 0 + 1)) + 0;
                if (random===1){
                  random = Math.floor(Math.random() * (1 - 0 + 1)) + 0;
                  if (random===1){
                    randomLetter = Math.floor(Math.random() * 25) + 1
                    number = letters[randomLetter];
                    console.log('letra ' + randomLetter);
                  }else{
                    console.log('numero');
                    number = Math.floor(Math.random() * (9999 - 0 + 1)) + 0;
                  }
                }else{
                  dd = Math.floor(Math.random() * (27 - 1 + 1)) + 1;
                  mm = Math.floor(Math.random() * (11 - 1 + 1)) + 1;
                  yy = Math.floor(Math.random() * (2015 - 1920 + 1)) + 1900;
                  //number = months[mm] + ' ' + dd + ' ' + yy; // English format
                  number = dd + ' de ' + months[mm] + ' de ' + yy;
                  wasDate = true;
                  console.log('fecha');
                }
                repeat = $('#repeat:checked').length;
                silent = $('#silent:checked').length;
                if (repeat){
                  number = lastNumber;
                }else{
                  lastNumber = number;
                }
                if ((number!='undefined') && (!silent)){
                  console.log(number);
                  responsiveVoice.speak(number, "Spanish Latin American Female");
                  if (wasDate){
                    monthNumber = parseInt(mm)+1;
                    number = dd + '' + monthNumber + '' + yy;
                    wasDate = false;
                  }
                }
              };
            }(i), 10000*i);
        }

        nickname.focus(function() {
          $(this).val('');
        });

        nickname.val("Your username");

        socket.on('nicknames', function (data) {
          var html = '';
          for (var i = 0; i < data.length; i++) {
            html += '<li><span>' + data[i] + '</span></li>';
          }
          usersList.empty().append(html);
        });

        socket.on('announcement', function (data) {
          messages.append('<p>' + data.message + '</p>');
        });

        socket.on('user message', function (data) {
          messages.append('<p><strong>' + data.nick + '</strong> ' +  data.message + ' (<span class="success">' + data.success + '</span> / <span class="fail">' + data.fail + '</span>) </p>');
          success.val(data.success);
          fail.val(data.fail);
        });

        /*
        * Configurar el nombre de usuario para un usuario
        * Un callback es recibido desde el servidor. Si es true entonces el nombre
        * ya ha sido tomado.
        */

        setNicknameForm.submit(function(event) {
          event.preventDefault();
          socket.emit('nickname', nickname.val(), function (data) {
            if (data) {
              console.log('Nombre de usuario configurado de modo correcto');
              login.hide();
              wrapper.show();
            } else {
              setNicknameForm.prepend('<p>Nombre de usuario ha sido tomado. Elige otro.</p>');
            }
          });
        });

        /*
        * Enviar un mensaje al servidor
        */
        messageForm.submit(function(event) {
          event.preventDefault();
          messageSend.number = number;
          messageSend.response = message.val();
          console.log(message.val()+','+number);
          socket.emit('user message', message.val()+','+number+','+success.val()+','+fail.val());
          message.val('').focus();
        });

        showButton.hover(
          function () {
            $(this).animate({
                'padding-right': '+=2',
                'margin-left': '-=2'
              }, 150);
            },
            function () {
              $(this).animate({
                'padding-right': '-=2',
                'margin-left': '+=2'
            }, 150);
          }
        );


        showButton.toggle(function() {
          $(this)
            .text('>')
            .css('margin-left', '180px')
            .attr('title', 'Hide users');
            users.show();
            messages.css('width', '200px');
        }, function() {
          $(this)
            .text('<')
            .css('margin-left', '331px')
            .attr('title', 'Show users');
            users.hide();
            messages.css('width', '350px');
        });
      });





body!= body
  section.login
    h1 Spanish practices
    form
      input(type='text', id='nickname')
      button Enviar
  section.wrapper
    section.messages
      a(title='Mostrar usuarios').show <
    section.users
      ul
    section.message-box
      form
        input(type='hidden', id='success', value='0')
        input(type='hidden', id='fail', value='0')
        input(type='checkbox', id='repeat')
        | Repetir
        br
        label.checkbox Silenciar
          input(type='checkbox', id='silent')
          | Silenciar
        input.message
        button(id="send") Enviar

